RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?/$1 [L]

RewriteCond %{HTTP_HOST} ^ld\.dhavalhost\.com$
RewriteRule (.*) $1 [E=CI_ENV:development]

RewriteCond %{HTTP_HOST} ^localhost
RewriteRule (.*) $1 [E=CI_ENV:staging]
